@media screen and (max-width:960px) {
    button,
    button * {
        color: black !important;     /* 文字色を強制で黒にする */
        text-decoration: none !important; /* 下線がつく場合も消す */
    }
   
    .sm-only {
        display: none;
    }

    body {
        background-color: aliceblue;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        font-family: "Noto Sans JP", sans-serif;
    }

    .first-display {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .mode-display {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .kind-display1 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .font {
        font-size: 60px;
        text-align: center;
        /* font-family: 'TsukuBRdGothic-Regular',sans-serif; */
        font-family: 'ヒラギノ丸ゴ ProN', 'Hiragino Maru Gothic ProN', sans-serif;
    }

    button {
        padding: 20px;
        font-size: 45px;
        cursor: pointer;
        border: none;
        font-family: 'ヒラギノ丸ゴ ProN', 'Hiragino Maru Gothic ProN', sans-serif;
    }

    .start-button {
        background-color: rgb(255, 76, 76);
        border-radius: 15px;
        font-family: 'ヒラギノ丸ゴ ProN', 'Hiragino Maru Gothic ProN', sans-serif;
    }

    .kind-button {
        font-size: 30px;
        margin: 8px;
        border-radius: 15px;
        background-color: rgb(113, 255, 255);
        font-family: 'ヒラギノ丸ゴ ProN', 'Hiragino Maru Gothic ProN', sans-serif;
        order: 3;
    }

    .strict-button {
        font-size: 30px;
        margin: 8px;
        border-radius: 15px;
        background-color: rgb(254, 74, 74);
        font-family: 'ヒラギノ丸ゴ ProN', 'Hiragino Maru Gothic ProN', sans-serif;
        order: 3;
    }

    .kind-select-button {
        font-size: 30px;
        margin: 5px;
        border-radius: 15px;
        background-color: rgb(113, 255, 255);
        font-family: 'ヒラギノ丸ゴ ProN', 'Hiragino Maru Gothic ProN', sans-serif;
        order: 3;
    }

    .strict-select-button {
        font-size: 30px;
        margin: 5px;
        border-radius: 15px;
        background-color: rgb(254, 74, 74);
        font-family: 'ヒラギノ丸ゴ ProN', 'Hiragino Maru Gothic ProN', sans-serif;
        order: 3;
    }

    .kind-back {
        position: absolute;
        top: 20px;
        left: 30px;
        font-size: 30px;
        background-color: rgb(113, 255, 255);
        border-radius: 40px;
        font-family: 'ヒラギノ丸ゴ ProN', 'Hiragino Maru Gothic ProN', sans-serif;
    }

    .strict-back {
        position: absolute;
        top: 20px;
        left: 30px;
        font-size: 30px;
        background-color: rgb(254, 74, 74);
        border-radius: 40px;
        font-family: 'ヒラギノ丸ゴ ProN', 'Hiragino Maru Gothic ProN', sans-serif;
    }

    .kind-gacha-font {
        margin-top: 80px;
        font-size: 40px;
        background-color: rgb(113, 255, 255);
        border-radius: 25px;
        width: 500px;
        padding: 20px 0;
        text-align: center;
        font-family: 'ヒラギノ丸ゴ ProN', 'Hiragino Maru Gothic ProN', sans-serif;
    }

    .kind-oya {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .strict-gacha-font {
        margin-top: 80px;
        font-size: 40px;
        background-color: rgb(254, 74, 74);
        border-radius: 25px;
        width: 500px;
        padding: 20px 0;
        text-align: center;
        font-family: 'ヒラギノ丸ゴ ProN', 'Hiragino Maru Gothic ProN', sans-serif;
    }

    img {
        height: 280px;
    }

    .oya-sentaku {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .oya-sentaku>div {
        display: contents;
    }

    .pic {
        margin: 40px;
        order: 2;
    }

    .kind-speak {
        margin: 130px;
        font-size: 30px;
        order: 1;
    }

    .kind-speak {
        color: black;
        font-size: 25px;
        position: relative;
        margin: 5px 0 0 50px;
        padding: 35px 40px;
        border-radius: 20px;
        background: rgb(113, 255, 255);
        margin: 40px;
        width: 200px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'ヒラギノ丸ゴ ProN', 'Hiragino Maru Gothic ProN', sans-serif;
    }

    .kind-speak:after {
        content: "";
        display: inline-block;
        position: absolute;
        top: 16px;
        left: -30px;
        border: 15px solid transparent;
        border-right: 15px solid rgb(113, 255, 255);
    }


    .strict-speak {
        color: black;
        margin: 40px;
        font-size: 25px;
        position: relative;
        margin: 5px 0 0 50px;
        padding: 35px 40px;
        border-radius: 20px;
        background: rgb(254, 74, 74);
        margin: 40px;
        width: 200px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'ヒラギノ丸ゴ ProN', 'Hiragino Maru Gothic ProN', sans-serif;
        order: 1;
    }

    .strict-speak:after {
        content: "";
        display: inline-block;
        position: absolute;
        top: 16px;
        left: -30px;
        border: 15px solid transparent;
        border-right: 15px solid rgb(254, 74, 74);
    }
}


@media screen and (min-width: 960px) {
    body {
        background-color: aliceblue;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .first-display {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .mode-display {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .kind-display1 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .font {
        font-size: 100px;
        text-align: center;
        /* font-family: 'TsukuBRdGothic-Regular',sans-serif; */
        font-family: 'ヒラギノ丸ゴ ProN', 'Hiragino Maru Gothic ProN', sans-serif;
    }

    button {
        padding: 20px;
        font-size: 45px;
        cursor: pointer;
        border: none;
        font-family: 'ヒラギノ丸ゴ ProN', 'Hiragino Maru Gothic ProN', sans-serif;
    }

    .start-button {
        background-color: rgb(255, 76, 76);
        border-radius: 15px;
        font-family: 'ヒラギノ丸ゴ ProN', 'Hiragino Maru Gothic ProN', sans-serif;
    }

    .kind-select-button {
        margin: 20px;
        margin-left: 240px;
        border-radius: 15px;
        background-color: rgb(113, 255, 255);
        font-family: 'ヒラギノ丸ゴ ProN', 'Hiragino Maru Gothic ProN', sans-serif;
    }

    .strict-select-button {
        margin: 20px;
        margin-right: 240px;
        border-radius: 15px;
        background-color: rgb(254, 74, 74);
        font-family: 'ヒラギノ丸ゴ ProN', 'Hiragino Maru Gothic ProN', sans-serif;
    }

    .kind-button {
        margin: 20px;
        margin-left: 240px;
        border-radius: 15px;
        background-color: rgb(113, 255, 255);
        font-family: 'ヒラギノ丸ゴ ProN', 'Hiragino Maru Gothic ProN', sans-serif;
    }

    .strict-button {
        margin: 20px;
        margin-left: 240px;
        border-radius: 15px;
        background-color: rgb(254, 74, 74);
        font-family: 'ヒラギノ丸ゴ ProN', 'Hiragino Maru Gothic ProN', sans-serif;
    }

    .kind-back {
        position: absolute;
        top: 20px;
        left: 30px;
        font-size: 30px;
        background-color: rgb(113, 255, 255);
        border-radius: 40px;
        font-family: 'ヒラギノ丸ゴ ProN', 'Hiragino Maru Gothic ProN', sans-serif;
    }

    .strict-back {
        position: absolute;
        top: 20px;
        left: 30px;
        font-size: 30px;
        background-color: rgb(254, 74, 74);
        border-radius: 40px;
        font-family: 'ヒラギノ丸ゴ ProN', 'Hiragino Maru Gothic ProN', sans-serif;
    }

    .kind-gacha-font {
        font-size: 70px;
        background-color: rgb(113, 255, 255);
        border-radius: 25px;
        width: 650px;
        padding: 20px 0;
        text-align: center;
        font-family: 'ヒラギノ丸ゴ ProN', 'Hiragino Maru Gothic ProN', sans-serif;
    }

    .strict-gacha-font {
        font-size: 70px;
        background-color: rgb(254, 74, 74);
        border-radius: 25px;
        width: 650px;
        padding: 20px 0;
        text-align: center;
        font-family: 'ヒラギノ丸ゴ ProN', 'Hiragino Maru Gothic ProN', sans-serif;
    }

    img {
        height: 400px;
    }

    .oya-sentaku {
        display: flex;
    }

    .pic {
        margin: 40px;
    }

    .kind-speak {
        margin: 130px;
        font-size: 30px;
    }

    .kind-speak {
        font-size: 40px;
        position: relative;
        margin: 5px 0 0 105px;
        padding: 35px 40px;
        border-radius: 20px;
        background: rgb(113, 255, 255);
        margin: 40px;
        width: 380px;
        height: 130px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'ヒラギノ丸ゴ ProN', 'Hiragino Maru Gothic ProN', sans-serif;
    }

    .kind-speak:after {
        content: "";
        display: inline-block;
        position: absolute;
        top: 16px;
        left: -30px;
        border: 15px solid transparent;
        border-right: 15px solid rgb(113, 255, 255);
    }


    .strict-speak {
        margin: 130px;
        font-size: 40px;
        position: relative;
        margin: 5px 0 0 105px;
        padding: 35px 40px;
        border-radius: 20px;
        background: rgb(254, 74, 74);
        margin: 40px;
        width: 380px;
        height: 130px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'ヒラギノ丸ゴ ProN', 'Hiragino Maru Gothic ProN', sans-serif;
    }

    .strict-speak:after {
        content: "";
        display: inline-block;
        position: absolute;
        top: 16px;
        left: -30px;
        border: 15px solid transparent;
        border-right: 15px solid rgb(254, 74, 74);
    }
}